* {
    box-sizing: border-box;
  }
  body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    background: rgb(238,174,213);
background: linear-gradient(90deg, rgba(238,174,213,0.5620448008304885) 0%, rgba(148,187,233,1) 58%); 
  }